@import "colors/mocha.css";

* {
    font-family: "Inconsolata", monospace;
    font-size: 14px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: @base;
    color: @text;
}

#workspaces {
    background: @mauve;
    color: @crust;
    padding-left: 10px;
    padding-right:10px;
    /* margin: 5px 0; */
}

#custom-slant-right-mauve {
    color: @mauve;
    background: transparent;
    font-size: 26px;
    margin-right: 10px;
}

#custom-slant-left-surface {
    color: @surface0;
    background: transparent;
    font-size: 26px;
}

#clock {
    background: @surface0;
    color: @yellow;
    padding: 0 10px;
    font-weight:bold;
}

#custom-slant-right-surface {
    color: @surface0;
    background: transparent;
    font-size: 26px;
}

#tray, #pulseaudio, #custom-notification {
    background: @surface0;
    color: @text;
    padding: 0 10px;
}

#pulseaudio {
    color: @teal;
}

#custom-notification {
    color: @maroon;
    padding-right:10px;
}

#custom-spacer {
    /* width:20px; */
    background: @surface0;
}

#custom-slant-right-surface-end {
    color: @surface0;
    background: transparent;
    font-size: 20px;
    margin-right: 10px;
}

#workspaces button {
    color: @crust;
    padding: 0 5px;
}

#workspaces button.active {
    color: @base;
    font-weight: bold;
}

#workspaces button.urgent {
    color: @red;
}